APP_NAME="Animais de Rua"
APP_THEME="#000"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOG=daily

BACKPACK_REGISTRATION_OPEN=true

GOOGLE_ANALYTICS=""
GOOGLE_API_KEY=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
PRESTASHOP_SECRET=""
PRESTASHOP_CATEGORIES="[]"
MAILCHIMP_APIKEY=""
MAILCHIMP_LIST_ID=""
RAPID_API_SECRET=""

PAYPAL="donativos@animaisderua.org"
PAYPAL_ID="XBRZVAM4E8VMC"

WOOCOMMERCE_STORE_URL=https://shop.animaisderua.org/
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_TAGS="31"
WOOCOMMERCE_LIMIT="6"

DONATE_PAYPAL="paypal.me/animaisderua"
DONATE_MBWAY="912 777 565"
DONATE_IBAN="PT50 0065 0921 0020 1240 0093 1"

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=animaisderua
DB_USERNAME="root"
DB_PASSWORD=""

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis
REDIS_PREFIX=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

BACKUP_WARNING_MAIL=
BACKUP_WARNING_DISCORD=

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=https://fra1.digitaloceanspaces.com
DO_SPACES_REGION=FRA1
DO_SPACES_BUCKET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

IGNITION_EDITOR=vscode
IGNITION_THEME=light
