/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/*.sublime-workspace
/public/vendor/adminlte/bower_components/Ionicons/cheatsheet.html
/public/vendor/adminlte/dist/img/photo*
/public/vendor/adminlte/dist/img/avatar*
/public/vendor/adminlte/dist/img/user*
*.map
/public/vendor/backpack/colorbox/content/*.jpg
/public/css/app.css
/public/js/app.js
/sftp-config.json
/public/uploads/
/public/fonts
/public/mix-manifest.json
/public/vendor/adminlte
