/node_modules
/public/hot
/public/storage
/storage/*.key
/auth.json
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
*.log
.phpunit.result.cache
/public/css/*.css
/public/js/*.js
/public/fonts
/public/mix-manifest.json
/*.sublime-workspace
/todo.md
*.map
/sftp-config.json
/resources/ffmpeg
/public/packages
/storage/debugbar
/packages/gemadigital
/public/gemadigital
/parcel/data.json
/.cache
/dist

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip