$color: #E53625;
$color-initial: #E53625;
$color-primary: #000;
$color-secondary: #607080;
$color-tertiary: #607080;
$color-quaternary: #607080;
$color-quinary: #607080;

@import "~milligram/src/Base";
@import "~milligram/src/Blockquote";
@import "~milligram/src/Button";
@import "~milligram/src/Code";
@import "~milligram/src/Divider";
@import "~milligram/src/Form";
@import "~milligram/src/Grid";
@import "~milligram/src/Link";
@import "~milligram/src/List";
@import "~milligram/src/Spacing";
@import "~milligram/src/Table";
@import "~milligram/src/Typography";
@import "~milligram/src/Image";
@import "~milligram/src/Utility";