$color: #E03322;
$color-initial: #E03322;
$color-primary: #000;
$color-secondary: #333;
$color-tertiary: #666;
$color-quaternary: #777;
$color-quinary: #aaa;

@import "~milligram/src/Base";
// @import "~milligram/src/Blockquote";
@import "~milligram/src/Button";
// @import "~milligram/src/Code";
// @import "~milligram/src/Divider";
// @import "~milligram/src/Form";
@import "~milligram/src/Grid";
@import "~milligram/src/Link";
@import "~milligram/src/List";
@import "~milligram/src/Spacing";
@import "~milligram/src/Table";
@import "~milligram/src/Typography";
@import "~milligram/src/Image";
@import "~milligram/src/Utility";