// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Icomoon
@import "icomoon/style.css";

// Normalize
@import "~normalize.css/normalize.css";

// Milligram
@import "_milligram.scss";

// Main Code
@import "main.scss";