$grey: #717171;

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #F7F7F7;
}

h1 {
    font-weight: 700;
}

h2, h3 {
    font-weight: 600;
}

h1, h2, h3 {
    letter-spacing: 0;
}

hr {
    width: 40px;
    border: 1px solid black;
    margin: 10px 0 24px;
}

::selection {
    background: $color;
    color: #FFF;
}

.hide {
    display: none;
}

input, textarea, select {
    background-color: transparent;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    resize: none;

    &:focus {
        outline: 0;
    }
}

label, picture, picture > img {
    display: block;
}

.container {
    max-width: 1250px;
}

#content {
    opacity: 1.0;
    transition: opacity .2s;
    margin-top: 28px;

    &.anim {
        animation: fadeIn .18s forwards;
    }

    @at-root {
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    }

    .container {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

#loading {
    background-color: $color;
    position: fixed;
    top: 0;
    width: 0;
    height: 2px;
    z-index: 10;

    &.start { animation: loadingStart .6s forwards; }
    &.end { animation: loadingEnd .2s; }

    @at-root {
        @keyframes loadingStart {
            0% { width: 0; }
            100% { width: 35vw; }
        }

        @keyframes loadingEnd {
            0% { width: 35vw; }
            100% { width: 100vw; }
        }
    }
}

button.btn, input.btn {
    background-color: $color;
    border: 2px solid $color;
    color: #FFF;
    font-size: 1.35rem;
    transition: background-color .2s, color .2s;
    line-height: 2rem;

    &:hover, &:focus {
        background-color: #FFF;
        color: $color;
    }

    &.inverse {
        background-color: #FFF;
        border: 2px solid #FFF;
        color: #E03322;

        &:hover, &:focus {
            background-color: transparent;
            color: #FFF;
        }
    }

    &.dark {
        background-color: #000;
        border-color: #000;

        &:hover, &:focus {
            background-color: #333;
            border-color: #333;
            color: #FFF;
        }
    }
}

input {
    outline: none;

    &[type='radio'], &[type='checkbox'] {
        appearance: none;
        background-color: #FAFAFA;
        padding: 7px;
        border-radius: 7px;
        display: inline-block;
        margin: 0;
        position: relative;
        height: 14px;
        margin: -2px 2px;
    }
    &[type='radio']:checked:after, &[type='checkbox']:checked:after {
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 50px;
        position: absolute;
        top: 3px;
        background: #e53625;
        left: 3px;
        font-size: 32px;
    }
}

a {
    cursor: pointer;
    transition: color .2s;
    position: relative;

    &:hover {
        color: $color;
    }

    &.lined {
        padding-bottom: 4px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: black;

            transition: transform .2s ease-in-out;
            transform: translateY(0);
        }

        &:hover {
            color: #000;

            &::after {
                transform: translateY(-3px);
            }
        }

        &.light {
            color: #FFF;

            &::after {
                background-color: #CCC;
            }

            &:hover {
                color: #FFF;
            }
        }
    }
}

.overflow {
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
}

.flex-vertical-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.accordion {
    h1 {
        font-size: 2.4rem;
        display: block;
        cursor: pointer;
        position: relative;

        &:after {
            content: '';

            border-style: solid;
            border-width: 5px 0 5px 7px;
            border-color: transparent transparent transparent #e53525;

            position: absolute;
            bottom: 6px;
            margin-left: 10px;
            transform: rotate(0);
            transition: transform .2s;
        }

        &:hover {
            color: $grey;
        }
    }

    .slider {
        overflow: hidden;
        max-height: 0px;
        transition: max-height .4s;

        div {
            color: $grey;
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-bottom: 32px;

            transition: transform .4s;
            transform: translateY(-100%);
        }
    }

    &.open {
        h1:after {
            transform: rotate(90deg);
        }

        .slider {
            max-height: 800px;

            div {
                transform: translateY(0);
            }
        }
    }
}

.dash-list {
    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        text-indent: 24px;
        color: #7C7C7C;
        line-height: 1.8em;
        font-size: 1.4rem;

        &:before {
            content: '\2014';
            position: absolute;
            margin-left: -46px;
        }
    }
}

// ----------
// Navbar

#navbar {
    background-color: #FFF;
    height: 130px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .left {
        display: flex;
        height: 36px;
        width: 100%;
        margin-top: 48px;
    }

    .logo {
        margin-right: 32px;
        width: 230px;
    }

    .icon {
        font-size: 40px;
    }

    .menu {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 2;

        div {
            width: 35px;
            height: 5px;
            background-color: $color;
            margin: 6px 0;
            transition: .25s;
            border-radius: 5px;
            pointer-events: none;
        }
    }
    .menu.active {
        div:nth-of-type(1) {
            transform: rotate(-45deg) translate(-9px, 7px);
        }
        div:nth-of-type(2) {
            opacity: 0;
        }
        div:nth-of-type(3) {
            transform: rotate(45deg) translate(-8px, -7px);
        }
    }

    .list {
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
        line-height: 38px;

        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;
        min-width: 380px;

        li {
            font-size: 1.25rem;
            color: black;
            margin: 0;
            font-weight: 600;
            letter-spacing: .06rem;
            white-space: nowrap;
        }

        li:nth-of-type(1) {
            margin-left: 0;
        }
    }

    .cards {
        display: flex;
        color: #FFF;
        text-align: center;

        > .card:last-child {
            margin-right: 0px;
        }
    }

    .card {
        width: 82px;
        height: 145px;
        background-color: $color;
        padding: 35px 4px;
        margin-right: 10px;
        cursor: pointer;
        transition: height .2s, padding .2s;
        position: relative;

        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;

        p {
            line-height: 16px;
            margin: 16px 0 0;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
        }

        .icon {
            width: 42px;
            height: 42px;
            transition: transform .2s;
            margin: auto;
        }

        .menu-panel {
            width: 360px;
            height: 0;
            background-color: #E53625;
            transition: height .3s, padding .3s;
            overflow: hidden;
            z-index: 10;
            margin: 30px 0 0 calc(82px - 360px - 4px);
            position: absolute;
        }

        &.active {
            .menu-panel {
                height: 240px;
                padding-top: 30px;
            }
        }

        &:hover, &.active {
            height: 160px;
            padding-top: 48px;

            .icon {
                transform: rotate(20deg);
            }
        }
    }

    .mobile {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        will-change: left;
        z-index: 1;
        background-color: #F7F7F7;
        overflow: hidden;
        transition: transform .3s, left .3s, height .15s;
        transform: translate(var(--x, "0px"));

        .list {
            display: block;
            margin-top: 6rem;

            li {
                margin: 0;
                font-size: 2rem;
                font-weight: 700;
                margin: 1rem 0 0 4rem;
            }
        }

        .cards {
            position: absolute;
            bottom: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 4px;
        }

        .languages {
            margin: 0;
            grid-column-start: 1;
            grid-column-end: 3;
            margin: 1.6rem 0 2rem 4rem;
            width: 100%;
            text-align: left;

            .lang {
                font-size: 2rem;
                font-weight: 700;
                margin-right: 1rem;
            }
        }

        .card {
            display: inline;
            width: 50vw;
            height: 100px;
            margin: 0;
            display: flex;
            justify-content: center;
            padding-top: 26px;

            .icon {
                margin: initial;
                margin-right: 16px;
            }

            p {
                font-size: 1.5rem;
                margin: 12px 0 0;
            }
        }

        .card:hover {
            height: 100px!important;
            padding-top: 26px;
        }

        .mobile-card-view {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 100vh;
            left: 0;
            z-index: 1;
            background-color: $color;
            display: flex;
            align-items: center;
            transition: transform .3s, top .3s;
        }

        @at-root {
            #navbar.card-view .mobile .mobile-card-view {
                transform: translateY(var(--y, "0px"));
            }
        }

        &.active {
            left: 0;
        }
    }

    .menu-panel {
        width: 50%;
        margin-left: 25%;
        color: #FFF;
        padding: 0 30px;

        h1 {
            font-size: 3.0rem;
        }

        p {
            font-weight: 600;
            margin: 20px 0 30px;
            height: initial;
        }

        label {
            display: inline-block;
            margin-right: 22px;
        }

        .btn {
            margin-top: 8px;
        }

        a {
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: underline;
            font-size: 1.8rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .languages {
        margin: 52px 10px 0 20px;
        width: 40px;

        .lang {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 600;
            color: #555;

            &.active {
                color: $color;
            }
        }
    }

    &.card-view {
        .menu div {
            background-color: #FFF;
        }
        .mobile .mobile-card-view {
            top: 0;
        }
        .mobile {
            transform: initial!important;
        }
    }
}

// ----------
// Footer

footer {
    background-color: #000;
    color: #FFF;
    padding: 64px 0 80px;
    font-weight: 800;

    h4, label {
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: .01rem;
    }
    a.color-link {
        color: #FFF;
        transition: .1s color;

        &:hover {
            color: #CCC;
        }
    }

    .logo {
        font-size: 5rem;
    }

    .stats {
        h1 {
            font-size: 5.4rem;
            letter-spacing: .01rem;
            margin-bottom: 0px;
        }
    }

    .newsletter {
        label {
            margin-bottom: .8rem;
        }
        input {
            margin-bottom: 0;
        }
        .result {
            margin: 0;
            font-weight: normal;
            font-style: italic;
        }

        .error {
            input {
                border-color: #840000;
            }
        }
    }

    .social {
        h4 {
            margin-bottom: 1.4rem;
        }
        .icon {
            font-size: 22px;
            margin: 0 10px 0 0;
        }
    }

    .solidarity {
        h4 {
            margin-bottom: .5rem;
        }
        a {
            font-weight: 600;
            font-size: 1.8rem;
        }
        p {
            margin-top: 2px;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    .contact {
        a {
            font-weight: 700;
        }
        p {
            margin-bottom: 12px;
        }
    }

    form {
        input {
            &[type='email'] {
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid #FFF;
                padding: 0 10px;
                display: inline-block;
                margin-right: 12px;
                color: #FFF;
                font-size: 1.4rem;
                border-radius: 0;
                transition: .2s margin;
            }
            &[type='email']:focus {
                border: 1px solid #FFF;
                margin-right: 0px;
            }
        }

        button {
            background: #FFF;
            height: 30px;
            width: 50px;
            vertical-align: top;
            border-radius: 0;
            border: 1px solid #FFF;
            color: #000;
            text-align: center;
            transition: .2s background;
            margin-left: -5px;
            font-size: 18px;
            padding: 0px;
            line-height: 0px;

            &:hover, &:focus {
                background: #EEE;
                border: 1px solid #FFF;
            }
        }
    }
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #333333;
    padding-top: 10px;
    color: #FFF;

    button {
        margin-left: 10px;
        color: #333;
    }
}


// ----------
// Flex Slider

.flex-slider {
    flex: 1;
    overflow: hidden;

    ul {
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 0;
        transition: transform .4s, height .2s;
        transform: translateX(calc(var(--x, 0px) - var(--page, 0) * 100%));
    }

    li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    .slide {
        width: 100%;
        white-space: normal;
    }

    .dots {
        text-align: center;
        margin: 6px 0;

        li {
            background-color: #FFF;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid $color;
            transition: background .3s;
            margin: 0 3px;
            cursor: pointer;

            &.active {
                background-color: $color;
            }
        }
    }

    @at-root {
        @supports (-ms-ime-align:auto) {
            .flex-slider ul {
                transition: none;
            }
        }
    }
}

.isotope {
    display: flex;
    flex-wrap: wrap;

    a {
        height: 100%;
        padding: 20px 12px;
    }

    .box {
        min-height: 460px;
        margin: 8px;
        overflow: auto;
        flex: 0 0 calc(25% - 16px);
        background-color: #FFF;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        border-bottom: 1px solid #FFF;
        transition: box-shadow .4s, border .4s;
        flex-direction: column;
        display: none;

        &:hover,&:focus {
            box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
            border-bottom: 1px solid #000;
        }

        &.active {
            display: flex;
        }
    }
}

.arrow-links {
    li {
        list-style: none;
        margin-bottom: 2px;
    }

    a {
        color: $grey;
        font-size: 1.4rem;

        .icon {
            transition: margin .2s;
            font-size: 1rem;
        }

        &:hover {
            color: $color;

            .icon {
                margin-left: 6px;
            }
        }
    }
}

.white-box {
    background-color: #FFF;
    padding: 40px 80px;
}

// ----------
// Pages

.header {
    picture {
        height: 468px;
        background: #FFF url(/img/logo/logo.svg) no-repeat center;
        background-size: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Home
.info-text {
    h1 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: .06rem;
    }
    p {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 3rem;
    }
    a {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.how-to-help {
    text-align: center;
    
    h2 {
        font-weight: 700;
        font-size: 4.5rem;
        margin-bottom: 40px;
    }

    h3 {
        color: $grey;
        font-weight: 700;
        padding: 0 20px;
        line-height: 2.6rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 4rem;
        color: #000;
    }

    .box {
        position: relative;
        transition: background .4s, border .4s, box-shadow .4s;
        padding-top: 20px;
        max-width: calc(25% - 10px);
        flex: 0 0 25%;
        border-bottom: 1px solid transparent;
        margin: 10px 5px;

        &:hover {
            background-color: #FFF;
            border-bottom: 1px solid black;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);

            .icon {
                opacity: 1;
            }
        }
    }
    .icon {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        width: 95%;
        font-size: 1rem;
        margin-bottom: 10px;
        color: #777;
        transition: opacity .4s;
    }
}

.banner {
    margin: 40px 0 0;
    position: relative;

    img {
        display: flex;
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: top left;
    }

    .box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #FFF;
        width: 68%;
        margin: 0 16%;
        padding: 56px 16px 24px;
        text-align: center;

        &:hover {
            color: #000;
            .icon {
                margin-left: 16px;
            }
        }
    }

    h2 {
        font-weight: 700;
        font-size: 2.6rem;
        margin-bottom: 12px;
        color: #000;
    }

    p {
        font-weight: 600;
        color: $grey;
    }

    .icon {
        transition: margin .2s;
        margin-left: 8px;
        font-size: 1.2rem;
    }
}

.campaigns {
    img {
        object-fit: contain;
        width: 100%;
    }

    blockquote {
        color: $grey;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
        letter-spacing: .15rem;
    }

    h1 {
        width: 60%;
    }

    .slide {
        display: flex;
        white-space: normal;
        min-height: 440px;

        div {
            width: 50%;
            margin: 0 10px;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

.three-slider {
    > h1 {
        text-align: center;
        margin-bottom: 8px;
    }

    > p {
        text-align: center;
        margin-bottom: 32px;
    }

    .slide {
        display: flex;
    }

    .card {
        min-height: 475px;
        background-color: #FFF;
        margin: 16px;
        transition: box-shadow .2s, border .2s;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #FFF;
        display: flex;
        flex-direction: column;
        width: 33%;

        a {
            padding: 16px;
            width: 100%;

            &:hover {
                color: #000;
            }
        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
            border-bottom: 1px solid #000;

            .necessity {
                p:first-child {
                    margin: 0 22% 10px 0;
                }
                p:last-child {
                    margin: 10px 0 0 22%;
                }
                .line {
                    width: 180px;
                }
            }
        }

        .image {
            width: 100%;
            height: 190px;
            background: #F7F7F7 url(/img/logo/logo.svg) no-repeat center;
            background-size: 35%;
            border: 0;

            div {
                height: 100%;
                background: #F7F7F7 url() no-repeat center;
                background-size: cover;
            }
        }

        h1 {
            text-align: center;
            font-size: 3rem;
            margin: 40px 0;
            padding: 0 8px;
        }

        .necessity {
            position: relative;

            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                transition: margin .16s;

                &:first-child {
                    margin: 0 20% 10px 0;
                    color: $color;
                }
                &:last-child {
                    margin: 10px 0 0 20%;
                    font-weight: 700;
                    color: #000;
                }
            }

            .line {
                width: 130px;
                height: 1px;
                background-color: #CCC;
                transform: rotate(-24deg);
                margin: auto;
                transition: width .16s;
            }
        }
    }
}

.products {
    .card {
        .image div {
            background-size: contain;
        }
        h1 {
            font-size: 2.4rem;
            min-height: 95px;
        }
    }
    .price {
        text-align: center;
        font-size: 2rem;
        border: 1px solid $grey;
        padding: 4px 20px;
        margin: auto;
        width: 120px;
        font-weight: bold;
    }
}

// Association
.whoweare {
    h2 {
        font-size: 2rem;
        margin-bottom: 6px;
    }
}

.vision {
    .white-box {
        &:nth-of-type(2) {
            margin-top: 30px;
        }
    }

    h1 {
        font-size: 2.2rem;
    }
    p {
        color: $grey;
        font-size: 1.4rem;
    }
}

.where {
    text-align: center;

    > div {
        color: $grey;
        font-size: 1.4rem;
    }

    .headquarters {
        display: flex;
        justify-content: space-between;

        a {
            color: $color;
            background-color: #FFF;
            padding: 15px;
            position: relative;
            margin: 0 4px;

            &:after {
                content: ' ';
                height: 4px;
                position: absolute;
                background: $color;
                bottom: 0;
                left: 0;
                width: 0;
                transition: width .6s;
            }

            &:hover:after {
                width: 100%;
            }

            h1 {
                font-size: 2.6rem;
                margin-bottom: 0;
            }

            p {
                text-transform: lowercase;
                font-size: 2.4rem;
                margin-bottom: 0;
            }
        }
    }
}

// CED
.whatisit {
    h3 {
        font-weight: 700;
        font-size: 1.8rem;
    }
}

.advantage {
    .label-title {
        text-align: center;   
    }

    h2 {
        font-weight: 700;
    }

    li {
        margin-bottom: 0;
    }

    .white-box {
        height: 100%;

        ul {
            margin: 0;
        }
    }
}

// Help
.help {
    h2 {
        font-weight: 700;
    }
    a,.text {
        font-size: 1.4rem;
        color: $grey;
    }
    a {
        text-transform: uppercase;
        font-weight: 600;
    }
    .column > div, .column img {
        margin-bottom: 24px;
    }
}

// Friends
.modalities {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 32px;
    }

    form {
        display: none;
    }

    .box {
        position: relative;
        overflow: hidden;
        background-color: #FFF;
        margin-bottom: 20px;
        padding: 32px 20px 50px;
        height: 90%;
        font-size: 1.5rem;
        cursor: pointer;
        transition: box-shadow .2s;

        .slider {
            position: absolute;
            bottom: -48px;
            left: 0;
            height: 48px;
            width: 100%;
            background-color: #000;
            color: #FFF;
            line-height: 48px;
            padding: 0 20px;
            text-align: right;
            text-transform: uppercase;
            font-weight: 700;
            transition: bottom .2s;

            .icon {
                font-size: 1.2rem;
            }
        }

        .price {
            position: absolute;
            z-index: 2;
            bottom: 0;
            font-weight: 700;
            margin: 0;
            line-height: 48px;
            transition: color .2s;
        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);

            .price {
                color: #FFF;
            }
            .slider {
                bottom: 0;
            }
        }
    }
}

// Partners
.sponsors {
    background-color: #FFF;
    padding: 80px 0 20px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        min-height: 400px;
        margin: 0 10%;

        a {
            text-align: center;
            flex-basis: calc(20% - 20px);
            display: inline-block;
            margin: 0 10px 28px;
            min-width: 144px;

            img {
                transition: opacity 0.2s;
                max-height: 100px;
                opacity: 1;
            }

            &:hover img {
                opacity: 0.7;
            }
        }
    }
}

.advantages {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 32px;
    }

    iframe {
        width: 100%;
        height: 520px;
        border: 0;
    }
}

// Animals / Friends
.isotope {
    .selects {
        width: 100%;
        display: flex;
        justify-content: center;

        select {
            width: initial;
            min-width: 33%;
            margin: 8px;
            font-weight: 600;
        }
    }
    .empty, .status {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        margin: 32px 0;
    }

    .image {
        text-align: center;
        height: 180px;
        background: #F7F7F7 url(/img/logo/logo.svg) no-repeat center;
        background-size: 100px;

        img {
            object-fit: scale-down;
            object-position: center center;
            width: 100%;
            height: 100%;
        }

        img[src=""] {
            display: none;
        }
    }
    .contact {
        // min-height: 160px;
    }
    .benefit p, .address, span {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 1.8rem;
        margin: 8px 0 0;
    }
    p {
        font-size: 1.4rem;
        margin: 0;
    }
    span {
        font-style: italic;
        color: $grey;
    }
    hr {
        margin: 5px 0;
        border-width: 1px 0 0 0;
        border-color: $grey;
    }

    .options {
        margin: 0 auto 20px;

        a {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $grey;
            margin: 0 12px;

            &.active {
                pointer-events: none;
                color: #000;
            }
            &:not(.active) {
                border-bottom: 0;
            }
        }
    }

    .boxs {
        width: 100%;
    }

    &.friends {
        .box {
            padding: 16px;
        }
        .box .image {
            background-color: #FFF;
            background: none;
        }
    }

    &.animals {
        min-height: 475px;
        align-content: baseline;

        .box {
            cursor: pointer;
            min-height: 360px;

            a:hover {
                color: #000;
            }

            .content {
                margin-left: 5px 0 0 5px;
            }
        }
        .image img {
            object-fit: cover;
        }
    }
}

.detail {
    margin-top: 80px!important;

    h1 {
        margin-bottom: 6px;
    }
    h2 {
        font-size: 2.2rem;
    }

    .flex-slider {
        ul:first-child {
            min-height: 350px;
        }
    }

    .date {
        font-weight: 500;
        line-height: 2rem;
        margin-top: 30px;

        span {
            font-weight: normal;
            font-size: 1.4rem;
        }
    }

    .share {
        p {
            margin: 10px 0 0;
            font-weight: 500;
        }

        a {
            font-size: 28px;

            &:hover {
                color: #333;
            }
        }
    }

    .btn {
        margin-top: 20px;
    }
}

.region {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 3.2rem;
    }

    .slide {
        width: 100%;

        a:hover {
            color: #000;
        }

        .card {
            min-height: 350px;

            h1 {
                margin: 20px 0;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}

// Privacy policy
.privacy {
    text-align: center;

    h1 {
        margin-top: 80px;
        font-size: 3.4rem;
    }
    h3 {
        font-size: 2rem;
    }
    .doc {
        text-align: left;
        width: 80%;
        margin: 0 10%;
        padding: 30px;
        background-color: #FFF;
        font-size: 1.4rem;

        h1 {
            text-align: left;
            margin-top: 0;
            font-size: 2rem;
        }

        a:not([name]) {
            color: $color;
        }
    }
}

#forms {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #FFF;
    position: fixed;
    top: 0;
    transition: transform 0.6s cubic-bezier(0.8, -0.4, 0.4, 1);
    transform: translateY(-100%);
    display: block!important;

    &.open {
        transform: translateY(0);
    }

    .nav {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        height: 100%;
    }

    h2 {
        font-size: 2rem;
    }

    .icon-logo {
        font-size: 10rem;
    }

    .icon-close {
        font-size: 3rem;
        cursor: pointer;
        transform: rotateZ(0);
        transition: transform 0.6s cubic-bezier(0.8, -0.4, 0.4, 1);

        &:hover {
            opacity: 0.8;
            transform: rotateZ(180deg);
        }
    }

    form {
        margin-bottom: 0;
    }

    .form, .submit {
        margin-top: 10px;
    }

    select, input:not([type="checkbox"]):not([type="radio"]), textarea {
        border: 1px solid white;
        padding: 2px 16px;
        font-weight: bold;
        width: 100%;
        height: 44px;
        margin-bottom: 10px;
        font-size: 1.5rem;

        &.empty, &::placeholder {
            color: #777!important;
        }
    }

    input, textarea {
        color: #FFF;
    }

    input.error {
        border-color: red;
    }

    .last-child {
        margin-bottom: 0!important;
    }

    select {
        background-color: #FFF;
        padding: 2px 12px;

        &.dark {
            background-color: #000;
            color: #FFF;
        }
    }

    textarea {
        padding: 16px;
    }

    input[type="submit"] {
        border-radius: 0;
        padding: 0 80px;
        background-color: #FFF;
        color: #000;
        transition: background-color .1s, color .1s;

        &:hover {
            background-color: #000;
            color: #FFF;
            border: 1px solid #FFF;
        }
    }

    .checkbox {
        h1 {
            font-size: 2rem;
        }

        input[type="checkbox"] {
            margin: 4px 0;
            border-radius: 2px;
        }
        input[type="checkbox"]:checked:after {
            border-radius: 2px;
            background-color: #000;
            width: 10px;
            height: 10px;
            top: 2px;
            left: 2px;
        }

        label {
            font-size: 1.4rem;
            margin-left: 10px;
            line-height: 18px;
        }

        div {
            display: flex;
            margin-bottom: 6px;
        }

        &.interests {
            h1 {
                margin-bottom: 4px;
            }
            div {
                margin-bottom: 2px;
            }

        }
    }

    div.sending h1, .success {
        display: none;
    }

    &.sending {
        div.sending h1 {
            display: block;
        }
        .content {
            opacity: 0.3;
            pointer-events: none;

            h1.title {
                display: none;
            }
        }
    }

    &.success {
        .success {
            display: block;
        }
        .content {
            display: none;
        }
    }

    .errors {
        font-size: 1.3rem;
        background-color: #612424;
        border: 1px solid #733232;
        padding: 4px 6px;
        border-radius: 2px;

        p {
            margin: 0;
        }
    }

    .scrollable {
        overflow-y: auto;
        max-height: calc(100vh - 236px);
        transition: opacity .5s;
    }

    .godfather h1 {
        width: 80%;
        margin-bottom: 16px;
    }

    .value {
        h2 {
            margin: 10px 0;
        }

        .input {
            display: flex;
            align-items: baseline;

            [type="checkbox"] {
                margin-right: 8px;
            }
            label {
                margin-right: 12px;
            }
        }   
    }

    .notes {
        margin-top: 10px;
        font-size: 1.3rem;
        font-style: italic;
        line-height: 18px;
    }
}

// ----------
// Media Queries

// Wide screens
@media (max-width: 1092px) {
    // Fix for top menu
    #navbar .left {
        display: inline;
        margin-top: 28px;
    }

    #home {
        .how-to-help .box {
            max-width: calc(50% - 10px);
            flex: 0 0 50%;
            background-color: #FFF;
            border-bottom: 1px solid black;

            .icon {
                opacity: 1;
            }
        }
    }

    .modalities .row .column-33 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sponsors {
        .grid {
            width: auto;
            margin: 0;
        }
    }

    .campaigns {
        h1 {
            width: 100%;
        }
    }
}

// Desktop
@media (min-width: 769px) {
    #content {
        min-height: calc(100vh - 130px);
    }

    #navbar .menu, #navbar .mobile {
        display: none;
    }
}

// Mobile only
@media (max-width: 768px) {
    #content {
        min-height: calc(100vh - 68px);
    }
    .row.row-wrap .column[class*=" column-"] {
        margin-left: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .column > picture > img {
        width: 100%;
    }

    #navbar {
        height: 68px;

        .left {
            margin-top: 18px!important;
        }

        .list, .cards {
            display: none;
        }

        .menu {
            margin-top: 16px;
        }

        .menu-panel {
            width: 70%;
            margin-left: 15%;
            padding: 0;
        }
    }

    footer {
        .logo {
            display: none!important;
        }
        .contact {
            margin-top: 20px;
        }
    }

    .header {
        &.row {
            flex-direction: column-reverse;
        }

        picture {
            margin-bottom: 20px;
            height: 300px;
        }
    }

    #home {
        .how-to-help .box {
            max-width: 100%;
            margin-left: 0;
            flex: 0 0 100%;
        }
    }

    .banner {
        img {
            height: 280px;
        }
        .box {
            margin: 32px 2%;
            width: 96%;
        }
    }

    .campaigns {
        li {
            width: 100%;
        }
        .slide {
            flex-direction: column-reverse;

            div {
                width: 100%!important;
                text-align: center;
                margin: 0;
            }

            h1 {
                width: 100%;
                font-size: 3rem;
            }

            p {
                display: none;
            }
        }
    }

    .three-slider {
        .slide {
            flex-direction: column;
        }

        .card {
            width: 100%;
            min-height: initial;
            margin: 12px 0;
            flex-direction: row;

            .image {
                // width: 60%;

                + div {
                    // width: 40%;
                }
            }

            h1 {
                font-size: 2.5rem;
                margin: 0 0 32px;
            }
        }
    }
    .white-box {
        padding: 25px 16px;
        margin-top: 30px;
    }
    .where .headquarters {
        flex-direction: column;

        a {
            margin: 4px 0;
        }
    }
    .advantage .white-box {
        height: initial;
    }
    .help .column img {
        margin-bottom: 0px;
    }
    .modalities .box {
        height: initial;
    }

    .isotope .box {
        flex: 0 0 calc(50% - 16px);
    }

    #forms {
        .last-child {
            margin-bottom: 10px!important;
        }
        .scrollable > div {
            max-width: 100%;
            flex: 100%;
            margin: 0;
        }
    }
}

// Small mobile only
@media (max-width: 480px) {
    .three-slider {
        .card {
            flex-direction: column;

            .image {
                width: 100%;

                + div {
                    width: 100%;
                    min-height: 160px;
                }
            }

            h1 {
                margin: 20px 0;
            }
        }
    }
    .isotope .box {
        margin: 8px 0;
        flex: 0 0 calc(100%);
    }
}