$grey: #717171;

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #f7f7f7;
}

h1 {
    font-weight: 700;
}

h2,
h3 {
    font-weight: 600;
}

h1,
h2,
h3 {
    letter-spacing: 0;
}

hr {
    width: 40px;
    border: 1px solid black;
    margin: 10px 0 24px;
}

::selection {
    background: $color;
    color: #fff;
}

.hide {
    display: none;
}

input,
textarea,
select {
    background-color: transparent;
    height: 3.8rem;
    padding: 0.6rem 1rem;
    resize: none;

    &:focus {
        outline: 0;
    }
}

label,
picture,
picture>img {
    display: block;
}

.container {
    max-width: 1250px;
}

#content {
    opacity: 1;
    transition: opacity 0.2s;
    margin-top: 28px;

    &.anim {
        animation: fadeIn 0.18s forwards;
    }

    @at-root {
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .container {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

#loading {
    background-color: $color;
    position: fixed;
    top: 0;
    width: 0;
    height: 2px;
    z-index: 10;

    &.start {
        animation: loadingStart 0.6s forwards;
    }

    &.end {
        animation: loadingEnd 0.2s;
    }

    @at-root {
        @keyframes loadingStart {
            0% {
                width: 0;
            }

            100% {
                width: 35vw;
            }
        }

        @keyframes loadingEnd {
            0% {
                width: 35vw;
            }

            100% {
                width: 100vw;
            }
        }
    }
}

button.btn,
input.btn {
    background-color: $color;
    border: 2px solid $color;
    color: #fff;
    font-size: 1.35rem;
    transition: background-color 0.2s, color 0.2s;
    line-height: 2rem;

    &:hover,
    &:focus {
        background-color: #fff;
        color: $color;
    }

    &.inverse {
        background-color: #fff;
        border: 2px solid #fff;
        color: #e03322;

        &:hover,
        &:focus {
            background-color: transparent;
            color: #fff;
        }
    }

    &.dark {
        background-color: #000;
        border-color: #000;

        &:hover,
        &:focus {
            background-color: #333;
            border-color: #333;
            color: #fff;
        }
    }
}

input {
    outline: none;

    &[type="radio"],
    &[type="checkbox"] {
        appearance: none;
        background-color: #fafafa;
        padding: 7px;
        border-radius: 7px;
        display: inline-block;
        margin: 0;
        position: relative;
        height: 14px;
        margin: -2px 2px;
    }

    &[type="radio"]:checked:after,
    &[type="checkbox"]:checked:after {
        content: " ";
        width: 8px;
        height: 8px;
        border-radius: 50px;
        position: absolute;
        top: 3px;
        background: #e53625;
        left: 3px;
        font-size: 32px;
    }
}

a {
    cursor: pointer;
    transition: color 0.2s;
    position: relative;

    &:hover {
        color: $color;
    }

    &.lined {
        padding-bottom: 4px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: black;

            transition: transform 0.2s ease-in-out;
            transform: translateY(0);
        }

        &:hover {
            color: #000;

            &::after {
                transform: translateY(-3px);
            }
        }

        &.light {
            color: #fff;

            &::after {
                background-color: #ccc;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}

.overflow {
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    vertical-align: top;
}

.flex-vertical-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.accordion {
    h1 {
        font-size: 2.4rem;
        display: block;
        cursor: pointer;
        position: relative;

        &:after {
            content: "";

            border-style: solid;
            border-width: 5px 0 5px 7px;
            border-color: transparent transparent transparent #e53525;

            position: absolute;
            bottom: 6px;
            margin-left: 10px;
            transform: rotate(0);
            transition: transform 0.2s;
        }

        &:hover {
            color: $grey;
        }
    }

    .slider {
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.4s;

        div {
            color: $grey;
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-bottom: 32px;

            transition: transform 0.4s;
            transform: translateY(-100%);
        }
    }

    &.open {
        h1:after {
            transform: rotate(90deg);
        }

        .slider {
            max-height: 800px;

            div {
                transform: translateY(0);
            }
        }
    }
}

.dash-list {
    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        text-indent: 24px;
        color: #565656;
        line-height: 1.8em;
        font-size: 1.4rem;

        &:before {
            content: "\2014";
            position: absolute;
            margin-left: -46px;
        }
    }
}

// ----------
// Navbar

#navbar {
    background-color: #fff;
    height: 130px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .left {
        display: flex;
        height: 36px;
        width: 100%;
        margin-top: 48px;
    }

    .logo {
        margin-right: 32px;
        width: 230px;
    }

    .icon {
        font-size: 40px;
    }

    .menu {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 2;

        div {
            width: 35px;
            height: 5px;
            background-color: $color;
            margin: 6px 0;
            transition: 0.25s;
            border-radius: 5px;
            pointer-events: none;
        }
    }

    .menu.active {
        div:nth-of-type(1) {
            transform: rotate(-45deg) translate(-9px, 7px);
        }

        div:nth-of-type(2) {
            opacity: 0;
        }

        div:nth-of-type(3) {
            transform: rotate(45deg) translate(-8px, -7px);
        }
    }

    .list {
        text-transform: uppercase;
        list-style-type: none;
        line-height: 38px;

        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        min-width: 380px;

        li {
            font-size: 1.25rem;
            color: black;
            margin: 0;
            font-weight: 600;
            letter-spacing: 0.06rem;
            white-space: nowrap;
        }

        li:nth-of-type(1) {
            margin-left: 0;
        }
    }

    .cards {
        display: flex;
        color: #fff;
        text-align: center;

        >.card:last-child {
            margin-right: 0px;
        }
    }

    .card {
        width: 82px;
        height: 145px;
        background-color: $color;
        padding: 35px 4px;
        margin-right: 10px;
        cursor: pointer;
        transition: height 0.2s, padding 0.2s;
        position: relative;

        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;

        p {
            line-height: 16px;
            margin: 16px 0 0;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .icon {
            width: 42px;
            height: 42px;
            transition: transform 0.2s;
            margin: auto;
        }

        .menu-panel {
            width: 360px;
            height: 0;
            background-color: #e53625;
            transition: height 0.3s, padding 0.3s;
            overflow: hidden;
            z-index: 10;
            margin: 30px 0 0 calc(82px - 360px - 4px);
            position: absolute;
        }

        &.active {
            .menu-panel {
                height: 240px;
                padding-top: 30px;
            }
        }

        &:hover,
        &.active {
            height: 160px;
            padding-top: 48px;

            .icon {
                transform: rotate(20deg);
            }
        }
    }

    .mobile {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        will-change: left;
        z-index: 1;
        background-color: #f7f7f7;
        overflow: hidden;
        transition: transform 0.3s, left 0.3s, height 0.15s;
        transform: translate(var(--x, "0px"));

        .list {
            display: block;
            margin-top: 6rem;

            li {
                font-size: 2rem;
                font-weight: 700;
                margin: 1rem 0 0 4rem;
            }
        }

        .cards {
            position: absolute;
            bottom: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 4px;
        }

        .languages {
            grid-column-start: 1;
            grid-column-end: 3;
            margin: 1.6rem 0 2rem 4rem;
            width: 100%;
            text-align: left;

            .lang {
                font-size: 2rem;
                font-weight: 700;
                margin-right: 1rem;
            }
        }

        .card {
            width: 50vw;
            height: 100px;
            margin: 0;
            display: flex;
            justify-content: center;
            padding-top: 26px;

            .icon {
                margin: initial;
                margin-right: 16px;
            }

            p {
                font-size: 1.5rem;
                margin: 12px 0 0;
            }
        }

        .card:hover {
            height: 100px !important;
            padding-top: 26px;
        }

        .mobile-card-view {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 100vh;
            left: 0;
            z-index: 1;
            background-color: $color;
            display: flex;
            align-items: center;
            transition: transform 0.3s, top 0.3s;
        }

        @at-root {
            #navbar.card-view .mobile .mobile-card-view {
                transform: translateY(var(--y, "0px"));
            }
        }

        &.active {
            left: 0;
        }
    }

    .menu-panel {
        width: 50%;
        margin-left: 25%;
        color: #fff;
        padding: 0 30px;

        h1 {
            font-size: 3rem;
        }

        p {
            font-weight: 600;
            margin: 20px 0 30px;
            height: initial;
        }

        label {
            display: inline-block;
            margin-right: 22px;
        }

        .btn {
            margin-top: 8px;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: underline;
            font-size: 1.8rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .languages {
        margin: 52px 10px 0 20px;
        width: 40px;

        .lang {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 600;
            color: #555;

            &.active {
                color: $color;
            }
        }
    }

    &.card-view {
        .menu div {
            background-color: #fff;
        }

        .mobile .mobile-card-view {
            top: 0;
        }

        .mobile {
            transform: initial !important;
        }
    }
}

// ----------
// Footer

footer {
    background-color: #000;
    color: #fff;
    padding: 64px 0 80px;
    font-weight: 800;

    h2,
    label {
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0.01rem;
    }

    a.color-link {
        color: #fff;
        transition: 0.1s color;

        &:hover {
            color: #ccc;
        }
    }

    .logo {
        font-size: 5rem;
    }

    .stats {
        h1 {
            font-size: 5.4rem;
            letter-spacing: 0.01rem;
            margin-bottom: 0px;
        }
    }

    .newsletter {
        label {
            margin-bottom: 0.8rem;
        }

        input {
            margin-bottom: 0;
        }

        .result {
            margin: 0;
            font-weight: normal;
            font-style: italic;
        }

        .error {
            input {
                border-color: #840000;
            }
        }
    }

    .social {
        h4 {
            margin-bottom: 1.4rem;
        }

        .icon {
            font-size: 22px;
            margin: 0 10px 0 0;
        }
    }

    .solidarity {
        h4 {
            margin-bottom: 0.5rem;
        }

        a {
            font-weight: 600;
            font-size: 1.8rem;
        }

        p {
            margin-top: 2px;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    .contact {
        a {
            font-weight: 700;
        }

        p {
            margin-bottom: 12px;
        }
    }

    form {
        input {
            &[type="email"] {
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid #fff;
                padding: 0 10px;
                display: inline-block;
                margin-right: 12px;
                color: #fff;
                font-size: 1.4rem;
                border-radius: 0;
                transition: 0.2s margin;
            }

            &[type="email"]:focus {
                border: 1px solid #fff;
                margin-right: 0px;
            }
        }

        button {
            background: #fff;
            height: 30px;
            width: 50px;
            vertical-align: top;
            border-radius: 0;
            border: 1px solid #fff;
            color: #000;
            text-align: center;
            transition: 0.2s background;
            margin-left: -5px;
            font-size: 18px;
            padding: 0px;
            line-height: 0px;

            &:hover,
            &:focus {
                background: #eee;
                border: 1px solid #fff;
            }
        }
    }
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #333333;
    padding-top: 10px;
    color: #fff;

    button {
        margin-left: 10px;
        color: #333;
    }
}

// ----------
// Flex Slider

.flex-slider {
    flex: 1;
    overflow: hidden;

    ul {
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 0;
        transition: transform 0.4s, height 0.2s;
        transform: translateX(calc(var(--x, 0px) - var(--page, 0) * 100%));
    }

    li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    .slide {
        width: 100%;
        white-space: normal;
    }

    .dots {
        text-align: center;
        margin: 6px 0;

        li {
            background-color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid $color;
            transition: background 0.3s;
            margin: 0 3px;
            cursor: pointer;

            &.active {
                background-color: $color;
            }
        }
    }

    @at-root {
        @supports (-ms-ime-align: auto) {
            .flex-slider ul {
                transition: none;
            }
        }
    }
}

.isotope {
    display: flex;
    flex-wrap: wrap;

    &>a {
        height: 100%;
        padding: 20px 12px;
    }

    .box {
        min-height: 460px;
        margin: 8px;
        overflow: auto;
        flex: 0 0 calc(25% - 16px);
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #fff;
        transition: box-shadow 0.4s, border 0.4s;
        flex-direction: column;
        display: none;

        &:hover,
        &:focus {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid #000;
        }

        &.active {
            display: flex;
        }
    }

    &.animals .image {
        height: 235px;
    }
}

.arrow-links {
    li {
        list-style: none;
        margin-bottom: 2px;
    }

    a {
        color: $grey;
        font-size: 1.4rem;

        .icon {
            transition: margin 0.2s;
            font-size: 1rem;
        }

        &:hover {
            color: $color;

            .icon {
                margin-left: 6px;
            }
        }
    }
}

.white-box {
    background-color: #fff;
    padding: 40px 80px;
}

// ----------
// Pages

.header {
    picture {
        height: 468px;
        background: #fff url(/img/logo/logo.svg) no-repeat center;
        background-size: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Home
.info-text {
    h1 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.06rem;
    }

    p {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 3rem;
    }

    a {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.how-to-help {
    text-align: center;

    h2 {
        font-weight: 700;
        font-size: 4.5rem;
        margin-bottom: 40px;
    }

    h3 {
        color: $grey;
        font-weight: 700;
        padding: 0 20px;
        line-height: 2.6rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 4rem;
        color: #000;
    }

    .box {
        position: relative;
        transition: background 0.4s, border 0.4s, box-shadow 0.4s;
        padding-top: 20px;
        max-width: calc(25% - 10px);
        flex: 0 0 25%;
        border-bottom: 1px solid transparent;
        margin: 10px 5px;

        &:hover {
            background-color: #fff;
            border-bottom: 1px solid black;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            .icon {
                opacity: 1;
            }
        }
    }

    .icon {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        width: 95%;
        font-size: 1rem;
        margin-bottom: 10px;
        color: #777;
        transition: opacity 0.4s;
    }
}

.banner {
    margin: 40px 0 0;
    position: relative;

    img {
        display: flex;
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: top left;
    }

    .box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        width: 68%;
        margin: 0 16%;
        padding: 56px 16px 24px;
        text-align: center;

        &:hover {
            color: #000;

            .icon {
                margin-left: 16px;
            }
        }
    }

    h2 {
        font-weight: 700;
        font-size: 2.6rem;
        margin-bottom: 12px;
        color: #000;
    }

    p {
        font-weight: 600;
        color: $grey;
    }

    .icon {
        transition: margin 0.2s;
        margin-left: 8px;
        font-size: 1.2rem;
    }
}

.campaigns {
    img {
        object-fit: contain;
        width: 100%;
    }

    blockquote {
        color: $grey;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
        letter-spacing: 0.15rem;
    }

    h1 {
        width: 60%;
    }

    .slide {
        display: flex;
        white-space: normal;
        min-height: 440px;

        div {
            width: 50%;
            margin: 0 10px;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

.three-slider {
    >h1 {
        text-align: center;
        margin-bottom: 8px;
    }

    >p {
        text-align: center;
        margin-bottom: 32px;
    }

    .slide {
        display: flex;
    }

    .card {
        min-height: 475px;
        background-color: #fff;
        margin: 16px;
        transition: box-shadow 0.2s, border 0.2s;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #fff;
        display: flex;
        flex-direction: column;
        width: 33%;

        a {
            padding: 16px;
            width: 100%;

            &:hover {
                color: #000;
            }
        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid #000;

            .necessity {
                p:first-child {
                    margin: 0 22% 10px 0;
                }

                p:last-child {
                    margin: 10px 0 0 22%;
                }

                .line {
                    width: 180px;
                }
            }
        }

        .image {
            width: 100%;
            height: 190px;
            background: #f7f7f7 url(/img/logo/logo.svg) no-repeat center;
            background-size: 35%;
            border: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        h1 {
            text-align: center;
            font-size: 3rem;
            margin: 40px 0;
            padding: 0 8px;
        }

        .necessity {
            position: relative;

            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                transition: margin 0.16s;

                &:first-child {
                    margin: 0 20% 10px 0;
                    color: $color;
                }

                &:last-child {
                    margin: 10px 0 0 20%;
                    font-weight: 700;
                    color: #000;
                }
            }

            .line {
                width: 130px;
                height: 1px;
                background-color: #ccc;
                transform: rotate(-24deg);
                margin: auto;
                transition: width 0.16s;
            }
        }
    }
}

.products {
    .card {
        .image div {
            background-size: contain;
        }

        h1 {
            font-size: 2.4rem;
            min-height: 95px;
        }
    }

    .price {
        text-align: center;
        font-size: 2rem;
        border: 1px solid $grey;
        padding: 4px 20px;
        margin: auto;
        width: 120px;
        font-weight: bold;
    }
}

// Association
.whoweare {
    h2 {
        font-size: 2rem;
        margin-bottom: 6px;
    }
}

.vision {
    .white-box {
        &:nth-of-type(2) {
            margin-top: 30px;
        }
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        color: $grey;
        font-size: 1.4rem;
    }
}

.where {
    text-align: center;

    >div {
        color: $grey;
        font-size: 1.4rem;
    }

    .headquarters {
        display: flex;
        justify-content: space-between;

        a {
            color: $color;
            background-color: #fff;
            padding: 15px;
            position: relative;
            margin: 0 4px;

            &:after {
                content: " ";
                height: 4px;
                position: absolute;
                background: $color;
                bottom: 0;
                left: 0;
                width: 0;
                transition: width 0.6s;
            }

            &:hover:after {
                width: 100%;
            }

            h1 {
                font-size: 2.6rem;
                margin-bottom: 0;
            }

            p {
                text-transform: lowercase;
                font-size: 2.4rem;
                margin-bottom: 0;
            }
        }
    }
}

// CED
.whatisit {
    h2 {
        font-weight: 700;
        font-size: 1.8rem;
    }
}

.advantage {
    .label-title {
        text-align: center;
    }

    h2 {
        font-weight: 700;
    }

    li {
        margin-bottom: 0;
    }

    .white-box {
        height: 100%;

        ul {
            margin: 0;
        }
    }
}

// Help
.help {
    h2 {
        font-weight: 700;
    }

    a,
    .text {
        font-size: 1.4rem;
        color: $grey;
    }

    a {
        text-transform: uppercase;
        font-weight: 600;
    }

    .column>div,
    .column img {
        margin-bottom: 24px;
    }
}

// Friends
.friend-alert {
    width: 100%;
    margin-bottom: 20px;
    background-color: #b7e2b9;
    border-radius: 2px;
    padding: 8px 18px;

    &.error {
        background-color: #e2b7b7;
    }
}

.card-login {
    .box {
        width: 60%;
        margin: auto;
        padding: 14px 28px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #fff;
        transition: box-shadow 0.4s, border 0.4s;
        margin-top: 20px;

        &:hover {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid #000;
        }
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    &>p {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 4px;
    }

    label {
        margin-top: 10px;
        font-size: 1.3rem;
        font-weight: 700;
    }

    input:not(.btn) {
        font-size: 1.3rem;
        border: 1px solid #bbb;
        padding: 0 10px;
        height: 34px;
        width: 100%;
        margin: 5px 0;
    }

    input {
        margin: 0 6px 0 0;

        &.btn {
            margin-top: 10px;
            height: 34px;
            min-width: 160px;
        }
    }

    a {
        font-size: 1.4rem;
    }

    .password-reset {
        text-align: right;
        margin: 0;

        a {
            color: #777;
        }
    }

    .card {
        perspective: 1000px;

        &>div {
            width: 425px;
            height: 270px;
            max-width: 100%;
            max-height: 60vw;
            padding: 30px;
            color: #fff;
            border-radius: 15px;
            background: linear-gradient(-20deg, #af6e33, #f89d4c);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px auto;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
            overflow: hidden;
            transform: rotate3d(1, -1, 0, 10deg);
            transform-origin: 50%;
            transition: transform .2s, box-shadow .2s;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

            &:hover {
                transform: rotate3d(1, -1, 0, 5deg) translateZ(20px);
                box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.4);
            }
        }

        .code {
            font-family: monospace, sans-serif;
        }

        img.bg {
            width: 42%;
            position: absolute;
            right: 0%;
            top: 0%;
        }

        .top {
            font-size: 2rem;
            font-weight: 600;
        }

        .number {
            font-size: 2.8rem;
            margin-top: .2rem;
        }

        .owner {
            font-size: 2.2rem;
        }

        .expiry-date {
            font-size: 1.8rem;
        }
    }
}

.modalities {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 32px;
    }

    form {
        display: none;
    }

    .box {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 32px 20px 50px;
        height: 90%;
        font-size: 1.5rem;
        cursor: pointer;
        transition: box-shadow 0.2s;

        .slider {
            position: absolute;
            bottom: -48px;
            left: 0;
            height: 48px;
            width: 100%;
            background-color: #000;
            color: #fff;
            line-height: 48px;
            padding: 0 20px;
            text-align: right;
            text-transform: uppercase;
            font-weight: 700;
            transition: bottom 0.2s;

            .icon {
                font-size: 1.2rem;
            }
        }

        .price {
            position: absolute;
            z-index: 2;
            bottom: 0;
            font-weight: 700;
            margin: 0;
            line-height: 48px;
            transition: color 0.2s;
        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            .price {
                color: #fff;
            }

            .slider {
                bottom: 0;
            }
        }
    }
}

// Partners
.sponsors {
    background-color: #fff;
    padding: 80px 0 20px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        min-height: 400px;
        margin: 0 10%;

        a {
            text-align: center;
            flex-basis: calc(20% - 20px);
            display: inline-block;
            margin: 0 10px 28px;
            min-width: 144px;
            opacity: 0;

            img {
                transition: opacity 0.2s;
                max-height: 100px;
                opacity: 1;
            }

            &:hover img {
                opacity: 0.7;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}

.advantages {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 32px;
    }

    iframe {
        width: 100%;
        height: 520px;
        border: 0;
    }
}

// Petsitting
#petsitting {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;

        .volunteers {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 6rem;
            margin-bottom: 4rem;

            .heading {
                margin-bottom: 8rem;
            }

            .cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2em;

                .card {
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;
                    max-width: 24rem;
                    min-height: 24rem;

                    .card-image {
                        overflow: hidden;
                        position: relative;
                        border: 3px solid black;
                        border-radius: 4rem;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .mask {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,0.2));
                        }

                        .person {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            padding-left: 2rem;
                            padding-right: 2rem;
                            padding-bottom: 1rem;
                            color: white;

                            .name {
                                font-size: 2.25rem;
                                font-weight: bold;
                                line-height: 1.25;
                            }

                            .role {
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .card-body {
                        padding-left: 1rem;
                        padding-right: 1rem;

                        .city {
                            display: inline-block;
                            margin-bottom: 0.5rem;
                            font-weight: bold;
                        }

                        .description {
                            font-size: 1.25rem;
                        }
                    }

                    .profile {
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        min-width: 100px;

                        .profile-image {
                            width: 100px;
                            height: 100px;
                            border: 3px solid black;
                            border-radius: 9999px;
                        }

                        .city {
                            text-align: center;
                        }

                        .name {
                            font-size: 2rem;
                            font-weight: 700;
                            text-align: center;
                        }
                    }

                    .info {
                        width: 100%;

                        .person {
                            .name {
                                font-size: 3rem;
                                font-weight: 700;
                            }

                            .sub {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 0.5rem;

                                .role {
                                    text-align: center;
                                    font-size: 1.5rem;
                                }

                                .city {
                                    text-align: center;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }

                    .description {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .form-open {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24rem;

            .form-button {
                height: 5.5rem;
                width: 38rem;
                margin-bottom: 0;
                background-color: #E03322;
                color: white;
                font-size: 2rem;
                border: none;
                border-radius: 1rem;
                box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
                transition-duration: 200ms;
                transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
                animation: button-pop 0.25s ease-out;
                transition-property: color, background-color, border-color, opacity, box-shadow, transform;

                &:active:hover,
                &:active:focus {
                    animation: button-pop 0s ease-out;
                    transform: scale(0.97);
                }

                &:hover {
                    background-color: #b33122;
                }
            }
        }
    }

}

// Animals / Friends
.isotope {
    .selects {
        width: 100%;
        display: flex;
        justify-content: center;

        select {
            width: initial;
            min-width: 33%;
            margin: 8px;
            font-weight: 600;
        }
    }

    .empty,
    .status {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        margin: 32px 0;
    }

    .image {
        text-align: center;
        height: 180px;
        background: #f7f7f7 url(/img/logo/logo.svg) no-repeat center;
        background-size: 100px;

        img {
            object-fit: scale-down;
            object-position: center center;
            width: 100%;
            height: 100%;
        }

        img[src=""] {
            display: none;
        }
    }

    .benefit p,
    .address,
    span {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.8rem;
        margin: 8px 0 0;
    }

    p {
        font-size: 1.4rem;
        margin: 0;
    }

    span {
        font-style: italic;
        color: $grey;
    }

    hr {
        margin: 5px 0;
        border-width: 1px 0 0 0;
        border-color: $grey;
    }

    .options {
        margin: 0 auto 20px;
        text-align: center;

        a {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $grey;
            margin: 0 12px;
            white-space: nowrap;

            &.active {
                pointer-events: none;
                color: #000;
            }

            &:not(.active) {
                border-bottom: 0;
            }
        }
    }

    .boxs {
        width: 100%;
    }

    &.friends {
        .box {
            padding: 16px;

            .image {
                background-color: #fff;
                background: none;

                & a {
                    padding: 0;
                    height: 0;
                }
            }
        }
    }

    &.animals {
        min-height: 475px;
        align-content: baseline;

        .box {
            cursor: pointer;
            min-height: 360px;
            padding: 10px;

            a:hover {
                color: #000;
            }

            .content {
                margin-left: 5px 0 0 5px;
            }
        }

        .image img {
            object-fit: contain;
        }
    }
}

.detail {
    margin-top: 80px !important;

    h1 {
        margin-bottom: 6px;
    }

    h2 {
        font-size: 2.2rem;
    }

    .flex-slider {
        ul:first-child {
            min-height: 350px;
        }
    }

    .date {
        font-weight: 500;
        line-height: 2rem;
        margin-top: 30px;

        span {
            font-weight: normal;
            font-size: 1.4rem;
        }
    }

    .share {
        p {
            margin: 10px 0 0;
            font-weight: 500;
        }

        a {
            font-size: 28px;

            &:hover {
                color: #333;
            }
        }
    }

    .btn {
        margin-top: 20px;
    }
}

.region {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 3.2rem;
    }

    .slide {
        width: 100%;

        a:hover {
            color: #000;
        }

        .card {
            min-height: 350px;

            h1 {
                margin: 20px 0;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}

// Privacy policy
.privacy {
    text-align: center;

    h1 {
        margin-top: 80px;
        font-size: 3.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    .doc {
        text-align: left;
        width: 80%;
        margin: 0 10%;
        padding: 30px;
        background-color: #fff;
        font-size: 1.4rem;

        h1 {
            text-align: left;
            margin-top: 0;
            font-size: 2rem;
        }

        a:not([name]) {
            color: $color;
        }
    }
}

#forms {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    transition: transform 0.6s cubic-bezier(0.8, -0.4, 0.4, 1);
    transform: translateY(-100%);
    display: block !important;

    &.open {
        transform: translateY(0);
    }

    .nav {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        height: 100%;
    }

    h2 {
        font-size: 2rem;
    }

    .icon-logo {
        font-size: 10rem;
    }

    .icon-close {
        font-size: 3rem;
        cursor: pointer;
        transform: rotateZ(0);
        transition: transform 0.6s cubic-bezier(0.8, -0.4, 0.4, 1);

        &:hover {
            opacity: 0.8;
            transform: rotateZ(180deg);
        }
    }

    form {
        margin-bottom: 0;
    }

    .form,
    .submit {
        margin-top: 10px;
    }

    select,
    input:not([type="checkbox"]):not([type="radio"]),
    textarea {
        border: 1px solid white;
        padding: 2px 16px;
        font-weight: bold;
        width: 100%;
        height: 42px;
        margin-bottom: 10px;
        font-size: 1.5rem;

        &.empty,
        &::placeholder {
            color: #777 !important;
        }
    }

    input[type="file"] {
        padding: 6px 4px !important;
        margin-bottom: 10px !important;
        overflow: hidden;
    }

    input,
    textarea {
        color: #fff;
    }

    input.error {
        border-color: red;
    }

    .last-child {
        margin-bottom: 0 !important;
    }

    select {
        background-color: #fff;
        padding: 2px 12px;

        &.dark {
            background-color: #000;
            color: #fff;
        }
    }

    textarea {
        padding: 16px;
    }

    input[type="submit"] {
        border-radius: 0;
        padding: 0 80px;
        background-color: #fff;
        color: #000;
        transition: background-color 0.1s, color 0.1s;

        &:hover {
            background-color: #000;
            color: #fff;
            border: 1px solid #fff;
        }
    }

    .checkbox {
        h1 {
            font-size: 2rem;
        }

        input[type="checkbox"] {
            margin: 4px 0;
            border-radius: 2px;
        }

        input[type="checkbox"]:checked:after {
            border-radius: 2px;
            background-color: #000;
            width: 10px;
            height: 10px;
            top: 2px;
            left: 2px;
        }

        label {
            font-size: 1.4rem;
            margin-left: 10px;
            line-height: 20px;
        }

        div {
            display: flex;
            margin-bottom: 6px;
        }

        &.interests {
            h1 {
                margin-bottom: 4px;
            }

            div {
                margin-bottom: 2px;
            }
        }
    }

    div.sending h1,
    .success {
        display: none;
    }

    &.sending {
        div.sending h1 {
            display: block;
        }

        .content {
            opacity: 0.3;
            pointer-events: none;

            h1.title {
                display: none;
            }
        }
    }

    &.success {
        .success {
            display: block;
        }

        .content {
            display: none;
        }
    }

    .errors {
        font-size: 1.3rem;
        background-color: #612424;
        border: 1px solid #733232;
        padding: 4px 6px;
        border-radius: 2px;

        p {
            margin: 0;
        }
    }

    .scrollable {
        overflow-y: auto;
        max-height: calc(100vh - 236px);
        transition: opacity 0.5s;
    }

    .godfather h1 {
        width: 80%;
        margin-bottom: 16px;
    }

    .petsitting {
        input:not([type="text"]){
            cursor: pointer;
        }

        input:not([type="checkbox"]):not([type="radio"]),
        .radio-chips {
            margin-top: 0.5rem;
        }

        input[type="date"]:disabled {
            color: revert;
            cursor: not-allowed;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        textarea {
            min-height: 8rem;
            max-height: 16rem;
            resize: vertical;
            margin-top: 0.5rem;
        }

        .checkbox-container {
            align-items: center;
            height: 42px;

            .option {
                display: flex;
            }
        }

        .radio-chips {
            display: flex;
            gap: 1rem;
            margin-bottom: 10px;

            label {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border: 1px solid black;

                span {
                    z-index: 10;
                    color: black;
                }

                input:checked + span {
                    color: white;
                }

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid white;
                    border-radius: 0;

                    &:checked:after {
                        display: none;
                    }
                }

                input:checked {
                    background-color: #e53625;
                }
            }
        }

        .flex-row {
            display: flex;
            gap: 16rem;
            width: 100%;
            margin-bottom: 10px;

            .radio-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .row:has(#walk-yes:checked) + .row {
            display: flex;
        }

        .other-services {
            .flex-row:has(#food-yes:checked) + textarea,
            .flex-row:has(#meds-yes:checked) + textarea,
            .flex-row:has(#hygiene-yes:checked) + textarea,
            .flex-row:has(#play-yes:checked) + textarea {
                display: inline-block;
            }
        }

        .prices {
            display: flex;
            gap: 6rem;
            font-size: 1.4rem;
            margin-top: 0.5rem;

            .price-column {
                width: 50%;

                .price {
                    display: flex;

                    .type {
                        flex-grow: 1;
                    }
                }

                .divider {
                    margin-bottom: 1rem;
                }
            }
        }

        .submit-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 4rem;

            .submit {
                width: 24rem;
                border: 1px solid white;
            }
        }
    }

    .value {
        h2 {
            margin: 10px 0;
        }

        .input {
            display: flex;
            align-items: baseline;

            [type="checkbox"] {
                margin-right: 8px;
            }

            label {
                margin-right: 12px;
            }
        }
    }

    .notes {
        margin-top: 10px;
        font-size: 1.3rem;
        font-style: italic;
        line-height: 18px;
    }

    .apply {

        input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
        select {
            height: 36px;
        }
    }
}

body {
    transition: margin-top 0.2s;

    &.offline {
        margin-top: 36px;

        .network {
            max-height: 36px;
        }
    }
}

.network {
    background-color: #3e3e3e;
    text-align: center;
    line-height: 36px;
    font-size: 1.3rem;
    color: #fff;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
}

// Donation
#donation {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 130px);
    margin-top: -28px;

    &>div {
        flex: 1;
        width: 50%;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        h1 {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            margin-bottom: 10rem;

            li {
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: #fff;
                box-shadow: 0 1px 2px #0001;
                border-radius: 8px;
                margin-bottom: 2rem;
                transition: box-shadow 0.3s;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 1px 3px #0003;
                }

                img {
                    height: 36px;
                    margin: 1rem 0;
                }

                p {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }

                &.paypal img {
                    height: 30px;
                }

                &.selectable p {
                    user-select: all;
                }

                &>a {
                    display: block;
                }

                &>div,
                &>a {
                    padding: 1rem 2rem;
                }
            }
        }
    }

    .image {
        background-size: cover;
        background-position: center;
    }
}

// ----------
// Media Queries

// Wide screens
@media (max-width: 1092px) {

    // Fix for top menu
    #navbar .left {
        display: inline;
        margin-top: 28px;
    }

    #home {
        .how-to-help .box {
            max-width: calc(50% - 10px);
            flex: 0 0 50%;
            background-color: #fff;
            border-bottom: 1px solid black;

            .icon {
                opacity: 1;
            }
        }
    }

    .modalities .row .column-33 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sponsors {
        .grid {
            width: auto;
            margin: 0;
        }
    }

    .campaigns {
        h1 {
            width: 100%;
        }
    }
}

// Desktop
@media (min-width: 769px) {
    #content {
        min-height: calc(100vh - 130px);
    }

    #navbar .menu,
    #navbar .mobile {
        display: none;
    }
}

// Mobile only
@media (max-width: 768px) {
    #content {
        min-height: calc(100vh - 68px);
    }

    .row.row-wrap .column[class*=" column-"] {
        margin-left: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .column>picture>img {
        width: 100%;
    }

    #navbar {
        height: 68px;

        .left {
            margin-top: 18px !important;
        }

        .list,
        .cards {
            display: none;
        }

        .menu {
            margin-top: 16px;
        }

        .menu-panel {
            width: 70%;
            margin-left: 15%;
            padding: 0;
        }
    }

    footer {
        .logo {
            display: none !important;
        }

        .contact {
            margin-top: 20px;
        }
    }

    .header {
        &.row {
            flex-direction: column-reverse;
        }

        picture {
            margin-bottom: 20px;
            height: 300px;
        }
    }

    #home {
        .how-to-help .box {
            max-width: 100%;
            margin-left: 0;
            flex: 0 0 100%;
        }
    }

    .banner {
        img {
            height: 280px;
        }

        .box {
            margin: 32px 2%;
            width: 96%;
        }
    }

    .campaigns {
        li {
            width: 100%;
        }

        .slide {
            flex-direction: column-reverse;

            div {
                width: 100% !important;
                text-align: center;
                margin: 0;
            }

            h1 {
                width: 100%;
                font-size: 3rem;
            }

            p {
                display: none;
            }
        }
    }

    .three-slider {
        .slide {
            flex-direction: column;
        }

        .card {
            width: 100%;
            min-height: initial;
            margin: 12px 0;
            flex-direction: row;

            h1 {
                font-size: 2.5rem;
                margin: 0 0 32px;
            }
        }
    }

    .white-box {
        padding: 25px 16px;
        margin-top: 30px;
    }

    .where .headquarters {
        flex-direction: column;

        a {
            margin: 4px 0;
        }
    }

    .advantage .white-box {
        height: initial;
    }

    .help .column img {
        margin-bottom: 0px;
    }

    .modalities .box {
        height: initial;
    }

    .isotope .box {
        flex: 0 0 calc(50% - 16px);
    }

    #forms {
        .last-child {
            margin-bottom: 10px !important;
        }

        .scrollable>div {
            max-width: 100%;
            flex: 100%;
            margin: 0;
        }
    }

    .card-login {
        .box {
            width: 100%;
        }

        .card {
            transform: scale(0.7);
        }
    }

    #donation {
        flex-direction: column;
        min-height: calc(100vh - 68px);

        &>div {
            width: 100%;
        }

        .image {
            flex: 3;
        }

        .list {
            ul {
                margin-bottom: 0;
            }
        }
    }
}

// Small mobile only
@media (max-width: 480px) {
    .three-slider {
        .card {
            flex-direction: column;

            .image {
                width: 100%;

                +div {
                    width: 100%;
                    min-height: 160px;
                }
            }

            h1 {
                margin: 20px 0;
            }
        }
    }

    .isotope .box {
        margin: 8px 0;
        flex: 0 0 calc(100%);
    }

    .network {
        font-size: 1.1rem;
    }
}

@keyframes button-pop {
    0% {
        transform: scale(0.98);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
